/* Підключення Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: "Open Sans";
  src: 
  font-weight: 700;
  font-style: normal;
} */

/* Підключення Varela Round */
@font-face {
  font-family: "Varela Round";
  src: url("../fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Varela Round", sans-serif;

  /* color */
  --black: #111;
  --accet-green: #a5c926;
  --white: #fff;
  --grey: #999;
  --hover-grey: #bbb;
  --hover: #76b62a;
  --bg: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

.section {
  padding: 120px 0;
  width: 100%;
}

.container {
  padding: 0 120px;
  width: 1440px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  display: flex;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
