/* Підключення Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: "Open Sans";
  src: 
  font-weight: 700;
  font-style: normal;
} */

/* Підключення Varela Round */
@font-face {
  font-family: "Varela Round";
  src: url("/path/to/fonts/VarelaRound-Regular.woff2") format("woff2"),
    url("/path/to/fonts/VarelaRound-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Varela Round", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.section {
  padding: 120px 0;
  width: 100%;
}

.container {
  padding: 0 120px;
  width: 1440px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  display: flex;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
