@import url("./reset.css");
@import url("./article.css");
@import url("./watch.css");
@import url("./simple.css");

/* Верхня секція з контактами */
.top-bar {
  font-family: var(--font-family);
  background-color: var(--accet-green);
  color: var(--white);
}

.contact-list {
  font: 400 10px / 1.6 var(--font-family);
  gap: 16px;
}

.contact-item {
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-item:hover,
.contact-item:focus {
  background-color: var(--hover);
}

.contact-info {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
}

.social {
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: center;
}

.social-list {
  gap: 4px;
  height: 100%;
  align-items: center;
}

.social-list a {
  display: flex;
}

.social-svg {
  fill: var(--white);
  transition: fill 0.3s;
}

.social-svg:hover,
.social-svg:focus {
  fill: var(--hover);
}

.cart-icon {
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
}

.cart-icon:hover,
.cart-icon:focus {
  fill: var(--hover);
}

/* Навігаційна панель */
.nav-container {
  background-color: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.logo {
  display: inline-block;
  font: 400 21px / 1.52381 var(--second-family);
  color: var(--black);
  cursor: pointer;
  padding: 12px 18px 12px 0;
  transition: color 0.3s ease-in-out;
}

.logo:hover,
.logo:focus {
  color: var(--hover);
}

.nav-list {
  font: 400 14px / 1.71429 var(--font-family);
  color: var(--black);
  gap: 20px;
}

/* .nav-item {
} */

.nav-link {
  display: inline-block;
  padding: 12px 18px;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover);
}

.cart {
  display: flex;
  align-items: center;
}

.cart a {
  display: flex;
  font: 400 13px / 1.85 var(--font-family);
  color: var(--black);
  text-decoration: none;
  margin-right: 5px;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: #8dc63f;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
}
/* =====   Section hero   ===== */

.section-hero {
  background-image: url("../images/bg-hero-1x.png");
  background-size: cover;
  background-position: center;
  padding: 166px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.container-hero {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.9);
  /* max-width: 570px; */
  border-radius: 16px;
  padding: 56px 76px;
  text-align: center;
  border-radius: 10px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  font-family: var(--font-family);
  text-align: center;
  color: var(--accet-green);
  margin-bottom: 10px;
}

.hero-title {
  font-size: 39px;
  font-weight: 400;
  line-height: 1.23;
  font-family: var(--second-family);
  color: var(--black);
  margin: 0 0 20px;
  max-width: 416px;
}

.hero-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--accet-green);
  text-decoration: none;
  border-radius: 24px;
  transition: background-color 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-family: var(--font-family);
  text-align: center;
  color: var(--white);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover); /* Трохи темніший зелений */
}

/* =====   section shop now   ===== */

.shop-now-title {
  position: absolute;
  left: -9999px;
}

.shop-now-section {
  display: flex;
  justify-content: center;
}

/* .shop-container {
  position: relative;
} */

/* Контейнер для категорій */
.shop-categories {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* Карточка категорії */
.category-card {
  position: relative;
  /* min-width: 570px; */
  /* height: 188px; */
  border-radius: 16px;
  overflow: visible;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-stuff {
  background-color: #f8b627;
}

.card-wood {
  background-color: #f24b72;
}

/* Зображення категорії */
.category-image {
  position: absolute;
  top: -50px;
  object-fit: contain;
  z-index: 111;
}

.image-stuff {
  left: 12px;
}

.image-wood {
  right: 12px;
}

/* Текстовий блок */
.category-content {
  position: relative;
  z-index: 2;
}

.content-stuff {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 264px;
  padding-right: 72px;
  text-align: left;
}

.content-wood {
  padding: 48px 264px 48px 104px;
  text-align: right;
}

.category-title {
  white-space: nowrap;
  font: 400 27px / 1.33333 var(--second-family);
  text-align: right;
  color: #fff;
  margin-bottom: 10px;
}

.shop-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--white);
  font: 400 13px / 1.84615 var(--font-family);
  text-align: center;
  color: var(--black);
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.shop-button:hover {
  background-color: var(--hover-grey);
}
