/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  padding: 0 120px;
}

/* Верхня секція з контактами */
.top-bar {
  color: white;
  display: flex;
  flex-direction: column;

  font-size: 14px;
}

.contact-info span {
  margin-right: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  background-color: #a5c926;
}

.social ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.social li {
  display: inline;
}

.social a {
  color: white;
  text-decoration: none;
  font-size: 20px; /* Розмір іконок */
}

/* Навігаційна панель */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.cart {
  display: flex;
  align-items: center;
}

.cart a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  margin-right: 5px;
}

.cart-count {
  background-color: #8dc63f;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
}
